.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh; 
}

.reset-password-form {
    width: 600px;
    max-width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 4rem;
    box-shadow: 6px 12px 60px rgba(0, 0, 0, 0.20);
  }
  
  .reset-password-form h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: center;
  }
  
  .form-submit-button button {
    width: 100%;
    padding: 1.2rem 1.6rem;
  }
  
  .form-field-container label {
    color: #666;
  }
  
  input[type='email'] {
    padding: 0.8rem 1.2rem;
  }
  
  .reset-password-form-inner {
    width: 100%;
  }
  