/* ProductPage.css */

.order-page {
    display: flex;
    margin-left: 255px;
    margin-top: 40px;
    background: var(--surface-card);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    gap: '1rem'
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
}

.content {
    flex: 1;
    padding: 20px;
}
